// --------------------------------------
// var
// --------------------------------------

// fontFamily
// ---------------------------
$fontFamily: Meiryo, 'メイリオ', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', Helvetica, sans-serif;

// color
// ---------------------------
$colorMain: #333;
$colorLink: #0079c3;
$bgColor1: #eee;
$bgColor2: darkseagreen;
$bgColor3: cornsilk;

// mediaQuery
// ---------------------------
$mqPc: 1180px;
$mqTab: 980px;
$mqSp: 768px;
